@import './src/style/styles.scss';

.event-main-wrapper {
    .event-wrapper {
        display: flex;
        flex-direction: column;
        margin-top: 0rem;
        margin-bottom: 2rem;

        @include responsive(md) {
            display: flex;
            flex-direction: row;
            margin-top: 3rem;
        }

        .left-wrapper {
            max-width: 70%;
            margin-left: 5rem;

            @include responsive(md) {
                max-width: 60%;
                margin-left: 5rem;
            }

            h4 {
                color: #E4B363;
                font-size: 22px;

                @include responsive(md) {
                    font-size: normal;
                }
            }
            
            .poster-wrapper {
                max-height: 370px;
                overflow: hidden; 
    
                img {
                    display: block;
                    max-width: 100%;
                    height: auto !important;
                    width: auto\9; /* ie8+9 */
                    /* lt ie8 */
                    -ms-interpolation-mode: bicubic;
                }
            }

            .description-wrapper {
                color: #313638;
                max-width: 100%;
            }
        }
        
        .right-wrapper {
            margin: 2rem 2rem 0 2.5rem;

            @include responsive(md) {
                margin: 2rem 4rem 0;
            }

            .subscribe-wrapper {
                margin: 0.3rem 0 1.5rem;
                
                .subscribe {
                    color: red;
                    text-decoration: none;
                }
    
                .icon {
                    padding: 0.3rem;
                    border: 1px solid hotpink;
                    min-width: 2rem;
                    text-align: center;
    
                    span {
                        padding-left: 1rem;
                        color: #009DDC;
                        font-size: 1rem;
                    }
    
                    &:hover, &:active {
                        background-color: lightblue;
                    }
                }
            }
        }
    }
}