@import './src/style/styles.scss';

.event-main-wrapper {
    .event-wrapper {
        display: flex;
        margin-top: 3rem;

        // @media (max-width: $breakpoint-phone) {
        //     display: flex;
        //     flex-direction: column;
        //     margin-top: 3rem;
        //     margin-left: 5rem;
        // }

        .left-wrapper {
            max-width: 60%;
            margin-left: 5rem;

            // @media (max-width: $breakpoint-phone) {
            //     max-width: 83%;
            // }

            h4 {
                color: #E4B363;
            }
            
            .poster-wrapper {
                max-height: 370px;
                overflow: hidden; 
    
                img {
                    display: block;
                    max-width: 100%;
                    height: auto !important;
                    width: auto\9; /* ie8+9 */
                    /* lt ie8 */
                    -ms-interpolation-mode: bicubic;
                }
            }

            .description-wrapper {
                color: #313638;
                max-width: 100%;
            }
        }
        
        .right-wrapper {
            margin: 2rem 5rem 0;

            // @media (max-width: $breakpoint-phone) {
            //     margin: 0 1rem 0 0;
            // }

            .subscribe-wrapper {
                margin: 0.3rem 0 1.5rem;
                
                .subscribe {
                    color: red;
                    text-decoration: none;
                }
    
                .icon {
                    padding: 0.3rem;
                    border: 1px solid hotpink;
                    min-width: 2rem;
                    text-align: center;
    
                    span {
                        padding-left: 1rem;
                        color: #009DDC;
                        font-size: 1rem;
                    }
    
                    &:hover, &:active {
                        background-color: lightblue;
                    }
                }
            }
        }
    }
}