.home-wrapper {
    position: relative;

    ul {
        list-style: none;
    }
    
    .title-wrapper {
        position: relative;
        
        h1 {
            margin-top: 3rem;
            text-align: center;

            &:before {
                content: "";
                position: absolute;
                top: -1rem;
                left: -650px;
                display: block;
                width: 10rem;
                height: 0.2rem;
                background: linear-gradient(90deg, #9bf8f3 0%, #6e7af7 100%);
                animation: slide 0.5s forwards;
                animation-delay: 1s;
                
                @keyframes slide {
                    100% { left: 14rem; }
                }
            }
    
            &:after {
                content: "";
                position: absolute;
                right: -650px;
                top: 3.7rem;
                display: block;
                width: 14rem;
                height: 0.2rem;
                // background: linear-gradient(90deg, #9bf8f3 0%, #6e7af7 100%);
                background: linear-gradient(90deg,#6e7af7 0%, #9bf8f3 100%);
                animation: slidein 0.5s forwards;
                animation-delay: 1s;
                
                @keyframes slidein {
                    100% { right: 10rem; }
                }
            }
            
        }
    }

    .description-wrapper {
        margin: 3rem;

        h2 {
            font-size: 1.5rem;
        }

        p {
            text-align: center;
        }
    }

    .comming-soon-wrapper {
        text-align: center;
        margin-bottom: 3rem;
        
        .comming-soon-title {
            margin-left: 1rem;
            // background: linear-gradient(#9bf8f3, #6e7af7);
            // background-clip: text;
            // -webkit-text-fill-color: transparent;
            font-size: 38px;

            .first, .second, .third  {
                letter-spacing: 1.2rem;
            }

            // .second {
            //     letter-spacing: 1rem;
            // }

            // .third {
            //     letter-spacing: 1.5rem;
            // }
        }
    }

    .events-wrapper {
        display: flex;
        justify-content: center;
        margin-bottom: 5rem;

        .event-wrapper {
            width: 50vh;
            // height: auto;
            display: flex;
            flex-direction: column;
            background-color: #fff;
            min-height: 540px;
            position: relative;
            overflow: hidden;
            transition: transform .2s;
            box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);

            &:hover {
                transform: scale(1.05);
            }

            img {
                width: 50vh;
            }

            .event-top-wrapper {
                display: flex;
                justify-content: space-around;
                margin: 1rem;

                .event-title {
                    font-size: 18px;
                }

                a {
                    text-decoration: none;
                }

                .icon {
                    border: 1px solid hotpink;
                    width: 2rem;
                    text-align: center;
    
                    span {
                        font-size: 1rem;
                    }

                    &:hover {
                        background-color: hotpink;
                    }
                }
            }

            .event-date {
                margin-bottom: 1rem;
            }
        }
    }
}
