.navbar-wrapper {
    display: flex;
    margin-right: 7rem;

    img {
        width: 4rem;
    }
    
    ul {
        writing-mode: vertical-rl;
        text-orientation: upright;
    
        li {
            padding-top: 1rem;
            padding-right: 1rem;
            list-style: none;

            a {
                color: #009DDC;
                text-decoration: unset;

                &:hover {  
                    color: #F26430;
                }
            }
        }
    }
}


