.navbar-wrapper {
    // $breakpoint-tablet: 768px;
    // $breakpoint-phone: 576px;
    // $breakpoint-small-phone: 337px;

    display: flex;
    margin-right: 18rem;

    img {
        width: 4rem;
    }
    
    ul {
        writing-mode: vertical-lr;
        text-orientation: upright;
        position: fixed;

        // @media (max-width: $breakpoint-phone) {
        //     display: flex;
        // } 
    
        li {
            padding-top: 1rem;
            padding-right: 1rem;
            list-style: none;

            a {
                color: #009DDC;
                text-decoration: unset;

                &:hover {  
                    color: #28a745;
                }
            }
        }
    }   
}


